<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@project, @task] do |f| %>
  <div>
    <%= f.label :title, "Task:" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :due_date, "Due Date:" %>
    <%= f.date_field :due_date %>
  </div>
  <div>
    <%= f.label :status, "Completed" %>
    <%= f.check_box :status %>
  </div>
  <div>
    <%= f.submit "Edit Task" %>
  </div>
<% end %>
