<h1><%= @project.title %></h1>

<h4>Project Owner:</h4>
<p><%= @project.user %></p>
<h4>Project Description:</h4>
<p><%= @project.description %></p>

<h4>Due Date:</h4>
<p><%= @project.due_date.strftime('%B %d, %Y') %></p>
<h4>Created On:</h4>
<p><%= @project.created_at.strftime('%B %d, %Y') %></p>

<% if can? :edit, @project %>
<%= link_to "Edit", edit_project_path(@project) %>
<% end %>
<% if can? :destroy, @project %>
<%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure you want to delete #{@project.title}?"} %>
<% end %>
<hr>

<h3>Add tasks for <%= @project.title %></h3>

<% if @task.errors.any? %>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [@project, @task] do |f| %>
  <div>
    <%= f.label :title, "Task:" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :due_date, "Due Date:" %>
    <%= f.date_field :due_date %>
  </div>
  <div>
    <%= f.submit "Add task" %>
  </div>
<% end %>

<hr>

<h3>Completed Tasks</h3>
<% @project.tasks.where(status: true).each do |task| %>
    <p>Task: <%= task.title %></p>
    <p>Completed on: <%= task.updated_at.strftime('%B %d, %Y') %></p>
    <hr>
<% end %>

<h3>Pending Tasks</h3>
<% @project.tasks.where(status: false).each do |task| %>
    <p>Task: <%= task.title %></p>
    <p>Due by: <%= task.due_date.strftime('%B %d, %Y') %></p>
    <% if can? :edit, @task %>
    <%= link_to "Edit Task", edit_project_task_path(@project, task) %>
    <% end %>
    <% if can? :destroy, @task %>
    <%= link_to "Delete Task", [@project, task], method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
    <hr>
<% end %>
