<!DOCTYPE html>
<html>
<head>
  <title>LePM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Home", root_path %>
  |
  <%= link_to "About", about_path %>
  |
  <%= link_to "View Projects", projects_path %>
  |
  <%= link_to "Add New Project", new_project_path %>
  <hr>

<%= flash[:notice] || flash[:alert] %>

<%= yield %>

</body>
</html>
